.nextbody {
    position: relative;
    top: 3.5em;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
.one {
    margin-left: 3em;
    padding: 5px;
    border-radius: 35px;
    border: 2px solid red;
    color: wheat;
    width: fit-content;
    height: auto;
}
.two {
    background-color: black;
    border: 2px solid blue;
    color: beige;
    width: fit-content;
    border-radius: 35px;
    padding: 10px;
    position: relative;
    left: 60%;

}